<% content_for :title do %>
  Admin
<% end %>

<%= render 'shared/navbar_admin' %>

<div class="dashboard-container">
  <h1 class="dashboard-header">Administración de Avivas.</h1>
  <div class="dashboard-menu">
    <%= link_to "Usuarios", admin_users_path %>
    <%= link_to "Productos", products_path %>
    <%= link_to "Ventas", sales_path %>
  </div>
</div>