<% if flash.any? %>
  <div class="alerts-container">
    <% flash.each do |type, message| %>
      <div class="alert <%= alert_class(type) %>" role="alert">
        <div class="alert-content">
          <%= message %>
        </div>
      </div>

      <script>
        setTimeout(function() {
          var alertElement = document.querySelector('.alert');
          if (alertElement) {
            alertElement.style.display = 'none';
          }
        }, 11000);
      </script>
    <% end %>
  </div>
<% end %>