/* Estructura de la tabla */
.table-admin {
    width: 85%; /* Reduce el tamaño general */
    max-width: 85%; /* Asegura que no crezca más del 80% del contenedor */
    margin: 0 auto; /* Centra la tabla */
    table-layout: fixed; /* Asegura que las columnas tengan un ancho fijo */
    word-wrap: break-word; /* Permite que el texto largo se ajuste */
  }
  
  .table-admin th,
  .table-admin td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e5e7eb; /* Gris claro */
  }
  
  .table-head-admin th {
    background-color: #f3f4f6; /* Gris muy claro */
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem; /* Tamaño de texto pequeño */
  }
  
  .table-body-admin tr:hover {
    background-color: #f9fafb; /* Fondo gris claro al pasar el ratón */
  }
  
  .btn-admin-td {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .btn-delete-admin {
    background-color: #f87171;
    color: white;
  }
  
  .btn-delete-admin:hover {
    background-color: #dc2626;
  }
  
  .btn-details-admin {
    text-decoration: none;
    color: inherit;
    background-color: #A69485;
    color: white;
    margin-right: 0.5rem;
  }
  
  .btn-details-admin:hover {
    background-color: #736355;
  }
  
  .header-admin {
    margin-bottom: 1rem;
  }
  
  .h1-admin {
    font-size: 1.875rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
    margin-left: 7.5%;
  }
  
  .btn-admin:hover {
    background-color: #3730a3; /* Azul más oscuro */
  }
  
  .btn-primary-admin {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 7.5%;
    margin-top: 8px;
    margin-bottom: 1%;
    background-color: #A69485;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .btn-primary-admin:hover {
    background-color: #736355; /* Azul más oscuro */
  }
  
  /* Responsividad: Asegurarse que la tabla se ajuste bien a pantallas pequeñas */
  @media (max-width: 768px) {
    .table-admin {
      width: 90%;
      border: 0;
    }
  
    .table-admin th,
    .table-admin td {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #e5e7eb;
    }
  
    .table-admin th {
      text-align: left;
      background-color: transparent;
      color: #333;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
    }
  
    .table-admin td {
      padding: 0.75rem 1.25rem;
      text-align: center;
      vertical-align: middle;
    }

    .table-admin th, 
    .table-admin td {
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  
    .table-body-admin tr {
      display: block;
      margin-bottom: 1rem;
    }
  }
  